<form name="contact" method="POST" data-netlify="true" class="needs-validation" novalidate>	
  <div class="form-group">
  	<label for="naam">Naam *</label>
		<input type="text" name="naam" class="form-control" required>
		<div class="invalid-feedback">Naam is een verplicht veld.</div>
  </div>

  <div class="form-group">
  	<label for="email">E-mailadres *</label>
  	<input type="text" name="email" class="form-control" required>
  	<div class="invalid-feedback">E-mailadres is een verplicht veld.</div>
  </div>
  
  <div class="form-group">
  	<label for="telefoonnummer">Telefoonnummer</label>
  	<input type="text" name="telefoonnummer" class="form-control">
  </div>
  
  <div class="form-group">
  	<label for="bericht">Bericht *</label>
  	<textarea class="form-control" rows="5" name="bericht" required></textarea>
  	<div class="invalid-feedback">Bericht is een verplicht veld.</div>
  </div>

	<div data-netlify-recaptcha="true"></div>
	
	<button type="submit" class="btn btn-primary">Verzend</button>
</form>

<script>
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>