<footer class="border-top text-center footer-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <small class="text-muted">© 2019 HuisKamerRestaurant</small>
      </div>
      <div class="col-lg-6 d-none d-lg-inline">
        <a href="/info.html" class="footer-link">Info</a>
        ·
        <a href="/reservaties.html" class="footer-link">Reservaties</a>
        ·
        <a href="/media.html" class="footer-link">Media</a>
        ·
        <a href="/contact.html" class="footer-link">Contact</a>
      </div>
      <div class="col-lg-3">
        <small class="text-muted">Gemaakt door <a href="http://koendevolder.com" target="_blank">Koen Devolder</a></small>
      </div>
    </div>
  </div>
</footer>