<nav class="navbar navbar-expand-lg navbar-dark">
  <a href="/" class="navbar-brand">
    <img src="/assets/img/logowhite.png" width="auto" height="40" style="image-rendering:-webkit-optimize-contrast" class="align-center d-none d-md-inline" alt="">
    <img src="/assets/img/logowhite.png" width="auto" height="30" style="image-rendering:-webkit-optimize-contrast" class="d-inline-block align-top d-md-none" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <a href="/info.html" class="nav-item nav-link {% if page.url == "/info.html" %}active{% endif %}">Info</a>
      <a href="/reservaties.html" class="nav-item nav-link {% if page.url == "/reservaties.html" %}active{% endif %}">Reservaties</a>
      <a href="/media.html" class="nav-item nav-link {% if page.url == "/media.html" %}active{% endif %}">Media</a>
      <a href="/contact.html" class="nav-item nav-link {% if page.url == "/contact.html" %}active{% endif %}">Contact</a>
    </ul>
  </div>
</nav>