<footer class="text-center">
  <div class="container">
    <a href="" target="_blank">
      <img src="/assets/img/facebook.png" width="32" height="32" alt="">
    </a>
    <a href="https://www.instagram.com/hkr_resto/" target="_blank">
      <img src="/assets/img/instagram.png" width="32" height="32" alt="">
    </a>
    <a href="" target="_blank">
      <img src="/assets/img/youtube.png" width="32" height="32" alt="">
    </a>  
    <a href="" target="_blank">
      <img src="/assets/img/twitter.png" width="32" height="32" alt="">
    </a>  
  </div>
</footer>